#imgs img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    visibility: hidden;
}
#Snav {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#SnavUp {
    display: inline-block;
    width: 100%;
    height: 20%;
}
#Scircles {
    display: block;
    width: 5%;
    height: 15%;
    margin-right: 5%;
    margin-top: 2%;
    float: right;
}
#Scircles ul {
    margin: 0;
    float: right;
    display: block;
    width: 100%;
    height: 100%;
}
#Scircles li {
    list-style: none;
    display: block;
    background-color: rgba(0, 0, 0, 1);
    width: 25%;
    height: 90%;
    margin-left: 5%;
    float: left;
    visibility: hidden;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
#SnavMiddle {
    display: block;
    width: 100%;
    height: 15%;
    margin-top: 10%;
}

/*left button*/

#Sleft {
   width: 43px;
   height: 50px;
    float: left;
    margin-left: 3%;
    opacity: 0.8;
}

/*button effect*/

#Sleft:hover {
   transition: all .7s;
   opacity: 0.8;
}
#Sright {
    width: 43px;
    height: 50px;
    float: right;
    margin-right: 3%;
    opacity: 0.8;
}
#Sright:hover {
   transition: all .7s;
   opacity: 0.8;
}
#SnavBottom {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
}
#SnavBottom p {
    font: normal 150% Lora;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 3%;
    visibility: hidden;
}
.input {
   display: inline-block;
   position: absolute;;
   bottom: 3%;
   right: 45%;
   margin: 0 auto;
   z-index: 112;
   opacity: .2;
}
.input:hover {
   opacity: 1;
   transition: all 1s;
}
